@keyframes moveInLeft {
    /* this is where we define a keyframe animation and name it */
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
    opacity: 1;
    transform: translate(0);

    }
}

@keyframes moveInRight {
    /* this is where we define a keyframe animation and name it */
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
    opacity: 1;
    transform: translate(0);
    }
}

@keyframes moveInBottom {
    /* this is where we define a keyframe animation and name it */
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
    opacity: 1;
    transform: translate(0);
    }
}